<header>
  <nav class='navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3'>
    <div class="container">
      <a class="navbar-brand" [routerLink]='["/"]'>vega</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]='{"show": isExpanded}'>
        <ul class="navbar-nav flex-grow">
            <button (click)="auth.login()" *ngIf="!auth.loggedIn">Log In</button>
            <button (click)="auth.logout()" *ngIf="auth.loggedIn">Log Out</button>
          <li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
            <a class="nav-link " [routerLink]='["/home"]'>Home</a>
          </li> 
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a class="nav-link " [routerLink]='["/vehicles"]'>Vehicles</a>
          </li> 
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a class="nav-link " [routerLink]='["/vehicles/new"]'>
              <i class="fas fa-plus fa-lg mr-2"></i>   New Vehicle
            </a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a class="nav-link " [routerLink]='["/counter"]'>Counter</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a class="nav-link " [routerLink]='["/fetch-data"]'>Fetch data</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
